@charset "utf-8";
/* CSS Document */
#formdiv{
	width:100%;
	height:auto;
}
#formdiv table{
	width:70%;
	margin:auto;
	height:600px;
	background-color:pink;
	border:10px solid #ffffff;
	border-top-left-radius:50px 50px;
	border-bottom-right-radius:30px 30px;
	
}
#formdiv table th{
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
}
#formdiv table tr:nth-child(2n){
	background-color:lightpink;
}
#formdiv table td{
	padding-left:50px;
}
#formdiv table td:nth-child(2n){
	padding-left:20px;
}